.results {
    display: inline-block;
    width: 100%;

    ul {
        display: inline-block;
        width: 100%;
        padding: 20px;
        text-align: center;

        li {
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    .book {
        display: block;
        width: 100%;
        background: $white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        transform: scale(1, 1);
        transition: transform $fast;

        &:hover {
            transform: scale(1.02, 1.02);
        }

        .img {
            background-color: $off-black;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            height: 200px;
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        }

        .info {
            padding: 15px 15px 0 15px;
            height: 100px;
            position: relative;

            .wrap {
                border-bottom: 15px solid $white;
                text-align: left;
                overflow: auto;
                display: inline-block;
                width: 100%;
                height: 75px;
            }
        }

        .name {
            line-height: 1.3;
            font-weight: bold;
            overflow: auto;
            font-size: 14px;
            text-transform: uppercase;
        }

        .authors {
            margin-top: 5px;
            font-size: 12px;
        }

        .publishing {
            position: absolute;
            font-size: 10px;
            bottom: 0;
            right: 0;
            text-align: right;
            padding: 5px;
            width: 100%;
        }
    }

    .loading {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        animation: pulse 2s infinite;
    }

    .empty {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .error {
        display: block;
        text-align: center;

        span {
            background: red;
            color: white;
            padding: 15px;
            text-transform: uppercase;
            border-radius: 3px;
        }
    }

    @media(min-width: $mobile) {
        ul {
            li {
                margin: 20px;
            }
        }

        .book {
            width: 400px;

            .img {
                height: 250px;
            }
        }
    }
}