.search-block {
    display: block;
    text-align: center;
    margin-bottom: 50px;

    .title {
        font-size: 36px;
        margin: 20px 0;
        display: block;
    }

    .input-group {
        display: block;
        margin: auto;
        max-width: 500px;
        width: 100%;

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 45px;
            padding: 0 15px;
            background: $white;
            width: 140px;
            float: left;
            display: block;
            border: 1px solid lightgrey;
            border-radius: 0;
            outline: none;
            cursor: pointer;
            transition: border-color $fast;
            background-image: url('https://image.flaticon.com/icons/svg/25/25243.svg');
            background-position: 123px 19px;
            background-size: 7px;
            background-repeat: no-repeat;

            &:hover {
                border-color: #a5a5a5;
            }

            &:focus {
                border-color: $blue;
            }
        }

        input[type="text"] {
            display: block;
            float: left;
            height: 45px;
            padding: 0 15px;
            width: calc(100% - 90px - 140px);
            border: 1px solid lightgrey;
            outline: none;
            transition: border-color $fast;

            &:hover {
                border-color: #a5a5a5;
            }

            &:focus {
                border-color: $blue;
            }
        }

        button {
            color: $white;
            border: 0;
            border-bottom: 1px solid darken($blue, 5%);
            background: $blue;
            padding: 0 20px;
            height: 45px;
            width: 90px;
            letter-spacing: 1px;
            font-size: 13px;
            cursor: pointer;
            outline: none;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            transition: border-color $fast, opacity $fast, box-shadow $fast;

            &:hover {
                border-color: $blue;
                background: darken($blue, 5%);
            }

            &:active {
                box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
            }
        }
    }
}